.DS_Store
desktop.ini

.sass-cache
*.css.map

.settings
.project
.jsbeautifyrc
.jshintrc
.brackets.json

logs
*.log
npm-debug.log*


pids
*.pid
*.seed

lib-cov
coverage

.grunt
.lock-wscript

build/Release
node_modules
.npm
.node_repl_history

*.zip

bin/ADMINS
bin/SUPERADMINS
bin/TEACHERS