$PADDING: 7px;

#request:hover {
  cursor: pointer;
  background: #A9E2F3;
}

.request-tile {
  margin-bottom: $PADDING;
  padding: $PADDING;
}

.pending {
  border: solid yellow 3px;
  background: lightyellow;
}
.reviewing {
  border: solid blue 3px;
  background: lightblue;
}
.approved {
  border: solid green 3px;
  background: lightgreen;
}
.rejected {
  border: solid red 3px;
  background: lightred;
}

#signout, #disconnect {
  cursor: pointer;
}