<div ng-repeat="teacher in $ctrl.faculty">
  <div>{{teacher.email}}</div>
  <div class="btn-group" role="group" aria-label="availability">
    <button type="button" class="btn btn-default" data-teacher="{{teacher}}" data-slot="1" ng-click="$ctrl.setAvailability($event)">1</button>
    <button type="button" class="btn btn-default" data-teacher="{{teacher}}" data-slot="2" ng-click="$ctrl.setAvailability($event)">2</button>
    <button type="button" class="btn btn-default" data-teacher="{{teacher}}" data-slot="3" ng-click="$ctrl.setAvailability($event)">3</button>
    <button type="button" class="btn btn-default" data-teacher="{{teacher}}" data-slot="4" ng-click="$ctrl.setAvailability($event)">4</button>
    <button type="button" class="btn btn-default" data-teacher="{{teacher}}" data-slot="5" ng-click="$ctrl.setAvailability($event)">5</button>
    <button type="button" class="btn btn-default" data-teacher="{{teacher}}" data-slot="6" ng-click="$ctrl.setAvailability($event)">6</button>
    <button type="button" class="btn btn-default" data-teacher="{{teacher}}" data-slot="7" ng-click="$ctrl.setAvailability($event)">7</button>
    <button type="button" class="btn btn-default" data-teacher="{{teacher}}" data-slot="8" ng-click="$ctrl.setAvailability($event)">8</button>
  </div>
</div>
<div>
  <input ng-model="$ctrl.newTeacher" class="form-control" placeholder="Add a teacher">
  <button type="button" class="btn btn-default" ng-click="$ctrl.addTeacher()">Insert</button>
</div>