<div ng-repeat="teacher in $ctrl.faculty">
  <div>{{teacher}}</div>
  <div class="btn-group" role="group" aria-label="availability">
    <button type="button" class="btn btn-default" ng-click="$ctrl.setAvailability()">1</button>
    <button type="button" class="btn btn-default" ng-click="$ctrl.setAvailability()">2</button>
    <button type="button" class="btn btn-default" ng-click="$ctrl.setAvailability()">3</button>
    <button type="button" class="btn btn-default" ng-click="$ctrl.setAvailability()">4</button>
    <button type="button" class="btn btn-default" ng-click="$ctrl.setAvailability()">5</button>
    <button type="button" class="btn btn-default" ng-click="$ctrl.setAvailability()">6</button>
    <button type="button" class="btn btn-default" ng-click="$ctrl.setAvailability()">7</button>
    <button type="button" class="btn btn-default" ng-click="$ctrl.setAvailability()">8</button>
  </div>
</div>