<div class="row" ng-repeat="req in $ctrl.requests">
  <div class="container">
    <request.tile></request.tile>
  </div>
</div>

<!--
<div class="row">
  <div class="container" ng-repeat="req in $ctrl.requests">
    <a ng-href="#/request/{{req._id}}">
      <div class="well well-lg">
        <div class="flex">
          <div class="x1">Date: </div>
          <div class="x1">Class: {{req.className}}</div>
          <div class="x1">Period: {{req.timeslot}}</div>
        </div>
        <div class="flex">
          <div class="x1">Substitute Teacher: </div>
        </div>
      </div>
    </a>  
  </div>
</div>
-->